* {
    font-family: 'Times New Roman' !important;
}

body, html {
    height: 100%;
    width: 100%;
}

#main-container {
    height: 100%;
    width: 100%;

    background-image: url("../resources/images/sala.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    position: relative;
}

figure {
    position: absolute;
}

figure > img {
    width: 100%;
    height: 100%;

    filter: drop-shadow(0 0 10px rgba(104, 0, 95, 0.9));
}

#figure-phone {
    width: 110px;
    
    top: 80%;
    left: 25%;
}

#figure-phone.playing {
    animation: swing 1s ease-in-out alternate infinite;
}

#figure-ball {
    width: 80px;

    top: 53%;
    left: 75%;
}

#figure-journal {
    width: 70px;

    top: 41%;
    left: 33%;

    transform: rotate(10deg);
}

#form-answer {
    position: absolute;

    top: 90%;
    left: 65%;

    display: flex;
    gap: 15px;
}

#input-answer {
    height: 30px;
    width: 180px;

    text-align: center;

    box-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
    border: none;
}

#input-submit {
    height: 30px;
    width: 50px;
    
    text-align: center;

    box-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
    border: none;
}

/* POP-UP */

#pop-up {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: snow;
    border: none;
    border-radius: 10px;

    padding: 10px;
    padding-right: 30px;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

#pop-up.show {
    opacity: 1;
    visibility: visible;
}

#pop-up > h2 {
    margin: 5px 0;
}

#close-pop-up {
    position: absolute;

    top: 15px;
    right: -5px;

    width: 20px;
    aspect-ratio: 1/1;

    text-align: center;

    background-color: red;
    color: pink;
    border-radius: 50%;

    transform: translate(-50%, -50%);
}

#close-pop-up:hover {
    cursor: pointer;
}

/* Animations */
@keyframes swing {
    from {
        transform: rotate(30deg);
    } 

    to {
        transform: rotate(-30deg);
    }
}