@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap');

/* css reset */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kolker Brush", cursive;
    font-size: 60px;
}

html, body, .container{
    width: 100vw;
    height: 100vh;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../resources/images/neymarJail.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

h1{
    font-size: 3em;
    text-shadow: 1px 1px 3px green;
}