@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap');

/* css reset */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kolker Brush", cursive;
    font-size: 70px;
}

html, body, .container{
    width: 100vw;
    height: 100vh;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../resources/sad.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-color: black;
}

.central{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-shadow: 1px 1px 3px red;
    border-radius: 100%;
}

h2{
    font-size: 2em;
}

p{
    font-size: 1.3em;
}

button{
    border-radius: 100%;
    padding: 20px;
    background-color: black;
    color: white;
}

button:hover{
    cursor: pointer;
}